
:root {
    --blue: #194a83;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #194a83;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #fd7e14;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

}

.navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.navbar .container-fluid .nav-item:first-child {
    padding-left: 0;
}

.navbar-expand-md .navbar-nav .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--dark);
}

.navbar-expand-md .navbar-nav .nav-item .nav-link {
    padding-left: 0;
    padding-right: 0;
    color: var(--dark);
}

.navbar-expand-md .navbar-nav .nav-link:hover {
    color: var(--primary);
}

.link-bottom {
    width: 24px;
    height: 4px;
    border-radius: 10px;
    background-color: transparent;
    position: absolute;
    bottom: 8px;
    /* left: 0; */
    transition: all ease 0.3s;
}

.navbar-expand-md .navbar-nav .nav-item:hover .link-bottom, .link-bottom.active {
    background-color: var(--primary);
    transition: all ease 0.3s;

}

.right-gola {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    position: absolute;
    top: -2%;
    right: -5%;
    background-color: aliceblue;
    transform: scale(220%);
    z-index: -100;
}

.custom-slides .carousel-inner {
    height: 40vh;
}

